.rain {
	z-index           : 3;
	position          : absolute;
	top               : 0;
	height            : 100vh;
	width             : 100vw;
	background-image  : url('./assets/images/rain.gif');
	background-repeat : round;
}

.heavyrain {
	z-index           : 4;
	position          : absolute;
	top               : 0;
	height            : 100vh;
	width             : 100vw;
	background-image  : url('./assets/images/heavyRain.gif');
	background-repeat : round;
	opacity           : 0.5;
}
