.sun--rise {
  animation-name           : sunrise;
  animation-duration       : 5s;
  animation-iteration-count: 1;
  animation-fill-mode      : forwards;
  animation-timing-function: ease-out;
}

@keyframes sunrise {
  from {
    top: 600px;
    /* transform: translate(0, -200px); */
  }

  to {
    top: 10%;
  }
}

.sun--set {
  animation-name           : sunset;
  animation-duration       : 5s;
  animation-iteration-count: 1;
  animation-fill-mode      : forwards;
  animation-timing-function: ease-in;
}

@keyframes sunset {
  from {
    top: 10%;
    /* transform: translate(0, -200px); */
  }

  to {
    top: -200%;
  }
}

.flower--animate {
  animation-name           : bloom;
  animation-duration       : 8s;
  animation-iteration-count: 1;
  animation-fill-mode      : forwards;

}

@keyframes bloom {
  from {
    bottom: -200px;
  }

  to {
    bottom: 15%;
  }
}

.teste-console {
  z-index              : 10;
  position             : absolute;
  right                : 5px;
  bottom               : 8%;
  display              : grid;
  grid-template-columns: repeat(2, 80px);
  grid-gap             : 2px;
  // display              : none;

  @media all and (min-width:768px) {
    z-index              : 10;
    position             : absolute;
    right                : 5px;
    bottom               : 8%;
    display              : grid;
    grid-template-columns: repeat(5, 80px);
    grid-gap             : 5px;
    // display              : none;
  }
}

.teste-buttom {
  background-image: linear-gradient(to bottom, #ced2d6, #caecf1);
  cursor          : pointer;
}

.teste01,
.teste05,
.teste09 {
  grid-column: span 2;
}
