.teste-console {
	z-index               : 10;
	position              : absolute;
	right                 : 5px;
	bottom                : 15%;
	display               : grid;
	grid-template-columns : repeat(2, 80px);
	grid-gap              : 2px;
	// display              : none;

	@media all and ( min-width: 768px ) {
		z-index               : 10;
		position              : absolute;
		right                 : 5px;
		bottom                : 10%;
		display               : grid;
		grid-template-columns : repeat(4, 80px);
		grid-gap              : 5px;
		// display              : none;
	}
}

.controls__console-wrapper {
	z-index  : 5;
	position : absolute;
	top      : 50%;
	left     : 20px;
}

.controls__console-inner {
	position : relative;
}


.moon--icon {
	position    : absolute;
	top         : -20px;
	left        : 50%;
	transform   : translate(-50%, 0);
	color       : white;
	text-shadow : 0 0 1px black;
	font-size   : 1.5rem;
}

.sun--icon {
	position    : absolute;
	bottom      : -20px;
	left        : 50%;
	transform   : translate(-50%, 0);
	color       : rgb(211, 154, 29);
	text-shadow : 0 0 1px black;
	font-size   : 1.5rem;
}

.sun--icon-down {
	position  : absolute;
	left      : -10px;
	top       : 50%;
	transform : translate(0, -50%);
}

.sun--icon-up {
	position  : absolute;
	right     : -15px;
	top       : 50%;
	transform : translate(0, -50%);
}

.sun--icon-down-arrow {
	position  : absolute;
	left      : -8px;
	top       : 42%;
	transform : translate(0, -50%);
	font-size : 0.7rem;
}

.sun--icon-up-arrow {
	position  : absolute;
	right     : -8px;
	top       : 42%;
	transform : translate(0, -50%);
	font-size : 0.7rem;
}

.teste-buttom {
	background-image : linear-gradient(to bottom, #ced2d6, #caecf1);
	cursor           : pointer;
	font-family      : sans-serif;
}

.teste-title {
	text-align  : center;
	background  : rgba(yellow, 0.5);
	grid-column : span 4;
	font-size   : 0.8rem;
	font-weight : 700;
	font-family : sans-serif;
}

.sliderHandle {
	width : 49%;
	top   : 49%;
	// left   : 50% !important;
	cursor : pointer;

	&::after {
		border     : 2px solid black !important;
		transition : all 1s ease;
		width      : 50%;
		height     : 3px;
		box-sizing : border-box;
	}

	&.morning {
		transform : rotate(0deg);
	}

	&.day {
		transform : rotate(90deg);
	}

	&.afternoon {
		transform : rotate(180deg);
	}

	&.night {
		transform : rotate(270deg);
	}
}

circle {
	r                 : 59;
	stroke-dashoffset : 10;
	stroke-width      : 25;
}

path {
	opacity      : 0.3;
	stroke-width : 6;
	stroke       : blue;

}