.sun--rise {
	animation-name            : sunrise;
	animation-duration        : 5s;
	animation-iteration-count : 1;
	animation-fill-mode       : forwards;
	animation-timing-function : ease-out;
}

@keyframes sunrise {

	from {
		top : 600px;
		/* transform: translate(0, -200px); */
	}

	to {
		top : 10%;
	}
}

.sun--set {
	animation-name            : sunset;
	animation-duration        : 5s;
	animation-iteration-count : 1;
	animation-fill-mode       : forwards;
	animation-timing-function : ease-in;
}

@keyframes sunset {

	from {
		top : 10%;
		/* transform: translate(0, -200px); */
	}

	to {
		top : -200%;
	}
}
