.app {
	background-size  : 100%;
	background-color : white;

	&.morning {
		background-color : white;
	}

	&.day {
		background-color : #212B52;
	}

	&.afternoon {
		background-color : #212B52;
	}

	&.night {
		background-color : #212B52;
	}
}

.version {
	font-family : sans-serif;
	z-index     : 10;
	position    : absolute;
	bottom      : 10px;
	right       : 20px;
	font-size   : 0.7rem;
	color       : white;
}

.author {
	font-family : sans-serif;
	z-index     : 10;
	position    : absolute;
	bottom      : 10px;
	left        : 20px;
	font-size   : 0.7rem;
	color       : white;
}